$background: #fbfbfb
$white:       #fdfdfd
$grey:        #808080
$light_grey:  #e0e0e0
$black:       #3c3c3c
$blackr:      #2c2c2c
$blacker:     #0c0c0c
$blue:        #32a5f5
$blueer:      #2247ff

@mixin no-borders
  border: 0
  -webkit-border-radius: 0
  -moz-border-radius: 0
  border-radius: 0

@mixin rounded-borders($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  border-radius:         $radius

@mixin box-shadow($top, $right, $blur, $color)
  -webkit-box-shadow: $top $right $blur $color
  -moz-box-shadow:    $top $right $blur $color
  box-shadow:         $top $right $blur $color

@mixin text-shadow($top, $right, $blur, $color)
  -webkit-text-shadow: $top $right $blur $color
  -moz-text-shadow:    $top $right $blur $color
  text-shadow:         $top $right $blur $color

@mixin transition-of($property)
  -webkit-transition-property: $property
  -moz-transition-property:    $property
  transition-property:         $property

@mixin transition-duration($seconds)
  -webkit-transition-duration: $seconds
  -moz-transition-duration:    $seconds
  transition-duration:         $seconds

@mixin transition-delay($seconds)
  -webkit-transition-delay: $seconds
  -moz-transition-delay:    $seconds
  transition-delay:         $seconds


body
  min-width: 940px
  padding-left: 20px
  padding-bottom: 80px
  margin: 0
  color: $black
  background: $background url('/images/bgpattern.png') top left repeat
  font: normal normal 19px/1.47 apolline
  text-align: left

h1
  font: 700 normal 34px/0.824 angie-sans
  margin: 0.988em 0 0.658em
  color: $blackr
h2
  font: normal normal 24px/1.16 angie-sans
  margin: 1.740em 0 0.582em
h3
  font: bold normal 18px/1.55 angie-sans
  margin: 2.325em 0 0.775em
h4
  font: normal normal 18px/1.55 angie-sans
  margin: 2.325em 0 0.775em
  text-transform: uppercase

p
  max-width: 33em
  margin: 0 0 1.47em

ul, ol, dl
  max-width: 31em
  margin: 0 0 1.4em
  padding-left: 1.47em

ul
  list-style-type: circle

ol
  list-style-type: decimal

dl
  padding-left: 0
dt
  font-weight: bold
dd
  margin-left: 1.47em

em
  font-style: italic

strong
  font-weight: 600

aside
  display: inline
  float: left
  width: 210px
  margin-left: -240px
  color: $grey
  font: 300 normal .8em/1.84 apolline

code
  margin: 0 .2em 1.73em
  color: $blacker
  font: 300 normal .85em/1.73 monaco, courier
  word-spacing: -0.2em

pre
  color: $black

blockquote
  max-width: 33em
  margin: 0 0 1.4em 0em
  padding: 2px 0 2px .7em
  color: $grey
  border-left: 6px solid $light_grey
  font-size: .9em

cite
  display: block
  text-align: right
  color: $grey
  font-size: .9em
  &:before
    content: "- "

a, a:link, a:active
  color: $blue
  text-decoration: none
  &:visited
    color: darken($blue, 10%)
  &:hover
    text-decoration: underline

#header
  margin: 0 0 40px

#box
  float: left
  width: 55px
  height: 128px
  margin-right: 20px
  background: $blackr url('/images/avatarbw.png') -100% -100% no-repeat
  cursor: help
  &:hover
    @include transition-of(background)
    @include transition-duration(5s)
    @include transition-delay(5s)
    background: $blackr url('/images/avatarbw.png') 60% 35% no-repeat

#fullname
  margin: 20px 20px 10px
  color: $blackr
  font: normal normal 1.18em/1 fertigo-pro

#social-links
  float: left

  ul
    padding: 0
    list-style: none
    li
      font: normal normal .9em/1.6 angie-sans
      a, a:link, a:active, a:visited
        color: $blue
        @include transition-duration(.35s)
        img
          position: relative
          margin-right: 6px
          opacity: .75
          &.twitter
            top: -2px
          &.github
            top: -1px
          &.linkedin
            top: -3px
        &:hover
          color: $black
          text-decoration: none
          img
            opacity: 1
            @include transition-of(opacity)
            @include transition-duration(.35s)

#facets
  ul
    max-width: 700px
    margin-top: 20px
    padding: 0
    list-style: none
    font: normal normal .9em/1.45 angie-sans
    li
      display: inline-block
      margin-right: 12px
      cursor: default
      .symbol
        color: $black
        font: normal 1em normal tahoma
        &.heart:hover
          color: red
          cursor: help
          @include transition-of(color)
          @include transition-delay(5s)
          @include transition-duration(5s)

  #quote
    height: 70px
    cursor: default
    .quote
      padding: 0
      border: 0
      margin: 0
      font: italic 300 .94em/1.36 apolline
      opacity: 0
    #quotation-by
      position: relative
      left: -40px
      margin-top: 0
      opacity: 0

#menu
  margin-bottom: 80px
  #links
    ul
      padding: 0
      font: normal normal .9em/1.7 angie-sans
    a, a:link, a:active, a:visited
      color: $blue
      @include transition-duration(.35s)
      &:hover
        color: $black
        text-decoration: none

  #description
    max-width: 24em
    font: normal normal 1.4em/1.47 apolline
    p
      margin-bottom: 0
    #blog, #reading, #about
      display: none

#main
  padding: 0
  margin: 0

h1#title
  margin-top: 0
  margin-bottom: 0.824em

article
  margin: 0
  padding: 0

#post
  clear: both
  .date
    position: relative
    left: -8px
    text-align: right
    font-size: .9em

#post-list
  .date
    position: relative
    left: -8px
    padding-top: 41px
    font-size: .9em
    text-align: right
  .post
    .title
      a, a:link, a:active, a:visited
        color: $black
    .description
      max-width: 100%
      margin: 0

.gist
  width: 41em
  margin: 0 0 1.47em 0
  font: 300 normal .82em monaco, courier !important
  .gist-file
    .gist-data.gist-syntax
      background-color: $white
  .gist-meta
    font-size: 75% !important
    a, a:link, a:visited, a:active
      color: $blue !important

.vimeo
  margin: 0 auto 1.47em
  width: 32em
  height: 24em
  border: 2px solid $blacker
  @include rounded-borders(4px)

.do_not_center
  margin-left: 0
  margin-right: 0

.vanish
  @include transition-of(opacity)
  @include transition-duration(.15s)
  opacity: 0 !important

.appear
  @include transition-of(opacity)
  @include transition-duration(1.2s)
  opacity: 1 !important

.available-soon
  opacity: .8
  &:after
    position: relative
    top: -2px
    margin-left: 10px
    content: 'soon'
    font: italic normal .8em/1 apolline
    color: red
