$sans:  'gentium book basic', sans-serif
$serif: 'gentium basic', serif


$base-font-size:   20
$base-line-height: 1.47
$line:             $base-font-size * $base-line-height

body
  min-width: 940px
  padding-left: 20px
  padding-bottom: 80px
  margin: 0
  color: $black
  background: $background url('/images/bg.png') top left repeat
  font: normal normal #{$base-font-size}px/$base-line-height $serif
  text-align: left

h1
  @include type-set(34, bolder, $sans)
  color: $blackr
h2
  @include type-set(26, normal, $sans)
h3
  @include type-set(21, bold, $sans)
h4
  @include type-set(18, normal, $sans)
  text-transform: uppercase

p
  max-width: 30em
  margin: 0 0 #{$base-line-height}em

ul, ol, dl
  max-width: 31em
  margin: 0 0 1.4em
  padding-left: 1.47em

ul
  list-style-type: circle

ol
  list-style-type: decimal

dl
  padding-left: 0
dt
  font-weight: bold
dd
  margin-left: 1.47em

em
  font-style: normal
  text-decoration: underline

strong
  font-weight: 700

aside
  display: inline
  float: left
  width: 210px
  margin-left: -240px
  color: $grey
  font: 300 normal .8em/1.84 $serif

code
  margin: 0 .2em 1.73em
  color: $blacker
  font: 300 normal .85em/1.73 monaco, courier
  word-spacing: -0.2em

pre
  color: $black

blockquote
  max-width: 32em
  margin: 0 0 1.4em 0em
  padding: 2px 0 2px .7em
  color: $grey
  border-left: 6px solid $light_grey
  font-size: .9em

  code
    margin: 0 .2em 1.73em
    color: darken($grey, 10%)
    font: 300 normal .80em/1.73 monaco, courier
    word-spacing: -0.2em



cite
  display: block
  color: $grey
  margin-top: .5em
  font-size: .9em
  text-align: right
  &:before
    content: "- "

a, a:link, a:active
  color: $blue
  text-decoration: none
  &:visited
    color: darken($blue, 10%)
  &:hover
    text-decoration: underline

#header
  margin: 0 0 40px

#box
  float: left
  width: 55px
  height: 128px
  margin-right: 20px
  background: $blackr url('/images/avatarbw.png') -100% -100% no-repeat
  cursor: help
  &:hover
    @include transition-of(background)
    @include transition-duration(5s)
    @include transition-delay(5s)
    background: $blackr url('/images/avatarbw.png') 60% 35% no-repeat

#fullname
  margin: 20px 20px 10px
  font: normal normal 1.18em/1 Overlock
  a, a:visited, a:active, a:hover
    color: $blackr
    text-decoration: none

#social-links
  float: left

  ul
    padding: 0
    list-style: none
    li
      font: normal normal .9em/1.6 $sans
      a, a:link, a:active, a:visited
        color: $blue
        @include transition-duration(.35s)
        img
          position: relative
          margin-right: 6px
          opacity: .75
          &.twitter
            top: -2px
          &.github
            top: -1px
          &.linkedin
            top: -3px
        &:hover
          color: $black
          text-decoration: none
          img
            opacity: 1
            @include transition-of(opacity)
            @include transition-duration(.35s)

#facets
  ul
    max-width: 700px
    margin-top: 20px
    padding: 0
    list-style: none
    font: normal normal .9em/1.45 $sans
    li
      display: inline-block
      margin-right: 12px
      cursor: default
      .symbol
        color: $black
        font: normal 1em normal tahoma
        &.heart:hover
          color: red
          cursor: help
          @include transition-of(color)
          @include transition-delay(5s)
          @include transition-duration(5s)

  #quote
    height: 70px
    cursor: default
    .quote
      padding: 0
      border: 0
      margin: 0
      font: italic 300 .94em/1.36 $serif
      opacity: 0
    #quotation-by
      position: relative
      left: -40px
      margin-top: 0
      opacity: 0

#menu
  margin-bottom: 80px
  #links
    ul
      padding: 0
      font: normal normal .9em/1.7 $sans
    a, a:link, a:active, a:visited
      color: $blue
      @include transition-duration(.35s)
      &:hover
        color: $black
        text-decoration: none

  #description
    max-width: 24em
    font: normal normal 1.4em/1.47 $serif
    p
      margin-bottom: 0
    #blog, #reading, #about
      display: none

#main
  padding: 0
  margin: 0

h1#title
  margin-top: 0
  margin-bottom: 0.824em

article
  margin: 0
  padding: 0

#post
  clear: both
  .date
    position: relative
    left: -8px
    text-align: right
    font-size: .9em

#post-list
  .date
    position: relative
    left: -8px
    padding-top: 41px
    font-size: .9em
    text-align: right
  .post
    .title
      a, a:link, a:active, a:visited
        color: $black
    .description
      max-width: 100%
      margin: 0

.vimeo
  text-align: center
  margin: 0 0 1.47em .3em
  width: 29em
  height: 23em
  border: 2px solid $blacker
  @include rounded-borders(4px)

.do_not_center
  margin-left: 0
  margin-right: 0

.vanish
  @include transition-of(opacity)
  @include transition-duration(.15s)
  opacity: 0 !important

.appear
  @include transition-of(opacity)
  @include transition-duration(1.2s)
  opacity: 1 !important

.available-soon
  opacity: .8
  &:after
    position: relative
    top: -2px
    margin-left: 10px
    content: 'soon'
    font: italic normal .8em/1 $serif
    color: red
