#post-list
  .info.grid_2
    .date
      dec 15 路 2011
    %a.read.hot{href: 'http://google.com'}
      read full post
  .post.grid_9
    %h2.title SC2011 or why you should learn English
    %p Instead of talking about Software Craftsmanship UK 2011 I will share my insights on why everyone in the software industry must understand and speak English.

  %hr.grid_11

  .info.grid_2
    .date
      dec 8 路 2011
    %a.read.mild{href: 'http://google.com'}
      read full post
  .post.grid_9
    %h2 Pedigree vs Awesomeness
    %p I listen to a few podcasts. I like listening people talk about programming while I'm having a walk or heading somewhere.

  %hr.grid_11

  .info.grid_2
    .date
      nov 15 路 2011
    %a.read.cold{href: 'http://google.com'}
      read full post
  .post.grid_9
    %h2 The Clean Coder
    %p A book review of The Clean Coder, the last book written by Robert C. Martin about professionalism, ethics and craftsmanship.

  %hr.grid_11

  .info.grid_2
    .date
      sep 22 路 2011
    %a.read.cold{href: 'http://google.com'}
      read full post
  .post.grid_9
    %h2 Showcase post
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fringilla consectetur nibh, ac sodales augue facilisis sit amet pellentesque ultricies.
