-@title       = "Javier Acero's blog"
-@description = 'Where I record the things I learn and share them with you. This is also the place where I keep my long road logbook.'

%section#blog
  %h1.title All posts
  -@blog.each_published_post do |post|
    %article
      %h2.title
        %a{href: url_for(post)}= post.title
      %p.date= formatted_post_date_for(post)
      %p.description
        ="#{post.description}..."
        %a{href: url_for(post)} read it.
    %hr
