%section#home
  %h2 Hi there!
  %p
    As you may have guessed my name is Javier Acero. I team up
    and <em>collaborate</em> with people and companies
    to <em>solve problems using software</em>.
    Unlike most developers, I write code that is <em>reliable</em>,
    <em>easy to change</em> and
    <em>bug free</em><span class="footnote"><a href="#footnote1">1</a></span>.

  %p
    I have plenty of experience in
    %a{href:'http://en.wikipedia.org/wiki/Extreme_programming', target: '_blank'} eXtreme Programming
    practices. Nowadays my language of preference is
    %a{href: 'http://www.ruby-lang.org', target: '_blank'} Ruby
    but I am always learning
    %a{href: 'http://clojure.org', target: '_blank'} new
    (and
    =succeed ')' do
      %a{href: 'http://erlang.org', target: '_blank'} old
    languages and technologies so I can use the best tool for the job.

  %p
    I like reading about software design and architecture but I also read about
    a wide variety of topics besides software: from economics, to marketing.
    Sometimes even fiction too.

  %figure
    %img{src: '/images/haskellthecat0.jpg', alt: '@haskellthecat'}

  %h3 Contact
  %p
    If you think I can help you or your company out don't hesitate to
    %a{href:'mailto:j4cegu@gmail.com'} contact me.

  %section#footnotes
    %ol
      %li#footnote1
        %p
          There will always be bugs. But by applying testing practices
          the number of bugs will be <strong>really low</strong>.

%script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js', type: 'text/javascript'}

:javascript
  var img = $('#home img');
  img.bind('mouseover', function() {
    img.attr('src', '/images/haskellthecat1.jpg');
  });

  img.bind('mouseout', function() {
    img.attr('src', '/images/haskellthecat0.jpg');
  });
