#header

  %nav
    %ul
      %li Blog
      %li Reading
      %li.active About


  %section#personal-info

    %h1#logo Javier Acero



%section#content

  %section#post
    %h2.title Pedigree vs Awesomeness

    %p I hear a few podcasts. I like listening people talk about programming while I'm having a walk or heading somewhere.

    %p
      One of those podcasts is
      %a{href:'http://teachmetocode.com/podcast'} Teach Me To Code
      by
      %a{href:'http://twitter.com/#!/cmaxw'}Charles Max Wood.
      It's an awesome podcast about almost any topic that could be related to programming: from testing to hiring developers.<!--more-->

    %p What's even more awesome is that Charles usually interviews <strong>really interesting</strong> people like Corey Haines, Dave Hoover, Andy Hunt, Dave Thomas, Chad Fowler... You can get an idea of the kind of people involved.

    %p
      On the last issue of the podcast the interviewee was
      %a{href:'http://twitter.com/#!/mojombo'} Tom Preston-Werner
      one of the
      %a{href:'http://github.com'} Github
      founders.

    %p One of the questions Charles made was related to how Github hires developers. How they find talented professionals. Tom knocked my mind with <em>the best</em> reflection related to college degrees I have ever heard:

    %blockquote I find résumés to be almost entirely useless. You send me a résumé and I'll be like... <strong>&laquo;congratulations&raquo;</strong>. You send me code... and now I'm interested.

    %blockquote Honestly, I don't care where you went to school. I don't care where you worked before. I don't care about anything except, <strong>&laquo;are you awesome at what you do?&raquo;</strong>.

    %blockquote And a lot of that comes from... probably half of us, and possibly more of us, don't have college degrees. I don't have one, Chris doesn't have one...

    %blockquote To us is more like... <strong>&laquo;What can you accomplish? What are you capable of? Opposite to what is your <u>pedigree</u>&raquo;</strong>


    %p You can hear it from 01:04:00 answering Charles' question about recognizing talented developers. The exact moment Tom says what I'm quoting here is 01:06:40.

    %p I'm going to get that quote tattooed on my butt. <em>Seriously</em>...

    %br
    %br
    %br
    %br


%ul#bio
  %li software craftsman
  %li kindred spirit
  %li perfectionist
  %li traveler
  %li
    %span.symbol &#63743;
    fanboy
  %li
    %span.symbol.heart &hearts;
    coffe
    %span.symbol.heart &hearts;
    beer

%img#avatar{src: '/images/avatarbw.png', width: 128}

%ul#social-links
  %li
    %a{href: 'mailto:j4cegu@gmail.com', title: 'send me an email'}
      %img{src: '/images/google.png', alt: 'google logo'}
  %li
    %a{href: 'http://twitter.com/jacegu', title: 'follow me on twitter'}
      %img{src: '/images/twitter.png', alt: 'twitter logo'}
  %li
    %a{href: 'http://github.com/jacegu', title: 'check my code on githug'}
      %img{src: '/images/github.png', alt: 'github logo'}
