!!!
<!--[if lt IE 7 ]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8 ]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
%head
  %meta(charset="utf-8")

  %title= @title
  %meta(name="author" content="Javier Acero")
  %meta(name="description" content="#{@description}")

  %meta(name="viewport" content="width=device-width, initial-scale=1")

  -# Google web fonts
  %link(href="http://fonts.googleapis.com/css?family=Merriweather+Sans:700,700italic|Esteban&subset=latin" rel="stylesheet" type="text/css")
  %link(href="http://fonts.googleapis.com/css?family=Belleza&text=JavierAcero" rel="stylesheet" type="text/css")

  -# CSS: implied media="all"
  %link(rel="stylesheet" href="/assets/screen.css")
  %link(rel="stylesheet" href="/assets/iphone.css" media="screen and (max-width: 767px)")

  -# RSS link
  %link(href="#{url('/blog/rss')}" rel="alternate" type="application/rss+xml")

  -# All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects
  %script(type="text/javascript" src="/assets/modernizr.js")

%body
  %header
    %h1
      %a{href: '/'} Javier Acero
    %nav
      %a{href: '/blog'} Blog
      %a{href: 'http://patheleven.com', target: '_blank'} Work
      %a{href: 'http://github.com/jacegu', target: '_blank'} Github
      %a{href: 'http://twitter.com/jacegu', target: '_blank'} Twitter
  %section{role: 'main'}
    = yield
  %footer
    %p
      &copy; Javier Acero 2009-2015

  -# Google analytics snippet
  %script{src: '/assets/analytics.js', type: 'text/javascript'}
