.date.grid_2
  .full-date
    nov 15 ·  2011

%section.post.grid_9
  %h1.title Pedigree vs Awesomeness

  %p I listen to a few podcasts. I like listening people talk about programming while I'm having a walk or heading somewhere.

  %p
    One of those podcasts is
    %a{href:'http://teachmetocode.com/podcast'} Teach Me To Code
    by
    %a{href:'http://twitter.com/#!/cmaxw'}Charles Max Wood.
    It's an awesome podcast about almost any topic that could be related to programming: from testing to hiring developers.<!--more-->

  %p What's even more awesome is that Charles usually interviews <strong>really interesting</strong> people like Corey Haines, Dave Hoover, Andy Hunt, Dave Thomas, Chad Fowler... You can get an idea of the kind of people involved.

  %p
    On the last issue of the podcast the interviewee was
    %a{href:'http://twitter.com/#!/mojombo'} Tom Preston-Werner
    one of the
    %a{href:'http://github.com'} Github
    founders.

  %p One of the questions Charles made was related to how Github hires developers. How they find talented professionals. Tom knocked my mind with <em>the best</em> reflection related to college degrees I have ever heard:

  %blockquote I find résumés to be almost entirely useless. You send me a résumé and I'll be like... <strong>&laquo;congratulations&raquo;</strong>. You send me code... and now I'm interested.

  %blockquote Honestly, I don't care where you went to school. I don't care where you worked before. I don't care about anything except, <strong>&laquo;are you awesome at what you do?&raquo;</strong>.

  %blockquote And a lot of that comes from... probably half of us, and possibly more of us, don't have college degrees. I don't have one, Chris doesn't have one...

  %blockquote To us is more like... <strong>&laquo;What can you accomplish? What are you capable of? Opposite to what is your <u>pedigree</u>&raquo;</strong>


  %p You can hear it from 01:04:00 answering Charles' question about recognizing talented developers. The exact moment Tom says what I'm quoting here is 01:06:40.

  %p I'm going to get that quote tattooed on my butt. <em>Seriously</em>...


%br
%br
%br
%br
%br
%br
%br
%br
%br
%br


.post-body.grid_9.push_2
  %h2 Showcase post

  %p In volutpat faucibus <em>dolor</em> sit amet adipiscing. Sed in leo libero, sed cursus urna. <strong>Praesent sit amet dui</strong> non augue hendrerit tempus. Etiam sed neque leo. Vestibulum ante <code>get '/helloworld' do</code> ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

  %p Duis quis leo lacus. <strong>Mauris est lacus</strong>, sagittis convallis sollicitudin vel, volutpat sed est. Nunc a nulla libero. Nunc consectetur magna et arcu molestie blandit. <em>Maecenas fermentum nunc eget nisi molestie ac porttitor</em> libero gravida.

  %p Vestibulum sit amet neque eu <code>Sinatra::Application</code> dolor scelerisque tincidunt. Fusce congue nisl eget erat ultricies adipiscing.

  %h1 H1 header
  %p Cras pretium purus sed urna rhoncus aliquam. Phasellus arcu justo, hendrerit in sollicitudin ut, gravida non erat. Pellentesque egestas eleifend tortor, ut ultrices velit semper eu.

  %h2 H2 header
  %p Fusce id tortor ipsum, eget lacinia dolor. Cras justo libero, tincidunt rhoncus ornare at, sollicitudin in risus. Suspendisse aliquet consectetur viverra.

  %h3 H3 header
  %p Duis quis leo lacus. Mauris est lacus, sagittis convallis sollicitudin vel, volutpat sed est. Nunc a nulla libero. Nunc consectetur magna et arcu molestie blandit.

  %h4 H4 header
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum velit quam, feugiat eget consequat vel, ultrices a felis. Sed et molestie metus.

  %h5 H5 header
  %p Cras suscipit laoreet ligula, at condimentum augue tempor eu. Sed eget odio velit. Etiam quis odio a ligula dapibus dignissim. Aenean blandit volutpat velit quis tincidunt.

  %h6 H6 header
  %p Vestibulum sit amet neque eu dolor scelerisque tincidunt. Fusce congue nisl eget erat ultricies adipiscing.

  %p Quisque eget nibh est. Etiam viverra purus diam. In ultrices, turpis congue tempus tincidunt, nulla nunc laoreet nunc, eget gravida sem dolor mattis diam. Vestibulum sapien lacus, tristique adipiscing tincidunt ultrices, ullamcorper at turpis. Cras dolor lorem, tempor at imperdiet a, molestie sed orci. Praesent a justo ligula. Vestibulum vel dui tempus sem lacinia fringilla. Quisque vel libero non magna dapibus dictum sit amet at neque. Fusce semper rutrum ultrices. Nulla id elit erat. Sed vel aliquet tellus. Praesent tincidunt neque arcu, sit amet rutrum enim. Aliquam dui magna, lacinia eget tincidunt at, auctor et nulla. Vivamus varius, neque vitae ornare venenatis, velit arcu laoreet eros, ac facilisis mi odio ut leo.

  %ul
    %li Donec lobortis eros vel dui tempor in sagittis tortor pharetra.
    %li Ut vel suscipit ipsum.
    %li Mauris iaculis mi et nulla facilisis molestie sed quis sapien.
    %li Maecenas arcu elit, tincidunt vitae euismod nec, eleifend ut dolor.
    %li Vivamus quis nisl dolor.
    %li Maecenas eget tristique sem.
    %li Nullam ut mauris urna, aliquam elementum lectus.

  %p Nam cursus tortor ut lacus tincidunt pulvinar. Proin at congue lectus. Aliquam tortor nisl, faucibus nec pretium sit amet, consectetur id tellus. Praesent vel urna dui. In tempus tristique dignissim.

  %ol
    %li Sed tristique, tortor id euismod lobortis, felis nisl consectetur nunc, eu semper enim urna eget felis.
    %li Sed mollis diam nec nisi tincidunt adipiscing et a urna.
    %li Suspendisse venenatis purus vehicula mi semper et fermentum nunc interdum.
    %li Fusce convallis leo et lectus elementum tincidunt.
    %li Vivamus cursus enim quis neque consequat ultricies.
    %li Nulla non tincidunt orci.
    %li Integer ac velit a lectus vestibulum volutpat et a quam.
    %li Quisque condimentum augue ut felis dignissim id cursus dui bibendum.
    %li Aliquam lacinia, velit ut porta venenatis, purus tortor interdum nisi, vel hendrerit arcu lectus fringilla arcu.

    %li
      %p Vivamus ut lacus libero, quis malesuada odio. Pellentesque imperdiet euismod mi, vel mattis neque facilisis sed. Pellentesque in sapien odio, in lacinia nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id leo sagittis nunc sodales rutrum nec ac risus.

      %p Nam cursus tortor ut lacus tincidunt pulvinar. Proin at congue lectus. Aliquam tortor nisl, faucibus nec pretium sit amet, consectetur id tellus. Praesent vel urna dui. In tempus tristique dignissim.
