#blog
  >h1
    @include margin-leader(1)
    @include margin-trailer(1)
    text-align: center
  hr
    width: 60%
    margin: 0 auto
    background: whitesmoke
    height: 1px
    border: 0
    border-bottom: 1px solid white
  article
    @include margin-leader(2)
    @include margin-trailer(2)
    .title
      @include adjust-font-size-to(26px)
      @include margin-leader(0)
      @include margin-trailer(0)
      font-family: $sans
      font-style: italic
      text-align: center
    .date
      @include adjust-font-size-to(16px)
      font-style: italic
      text-align: center
      @include margin-leader(0)
      @include margin-trailer(.3)
    .description
      @include margin-leader(0)
      @include margin-trailer(0)
