#blog hr
  width: 60%
  margin: 0 auto
  background: darken($background, 4%)
  height: 1px
  border: 0
  &:last-child
    display: none

#blog article
  @include margin-leader(2)
  @include margin-trailer(2)
  .title
    @include adjust-font-size-to(32px)
    @include margin-leader(0)
    @include margin-trailer(0)
    font-family: $sans
    font-style: italic
    text-align: center
    color:red
  .date
    @include adjust-font-size-to(20px)
    font-style: italic
    text-align: center
    @include margin-leader(0.1)
    @include margin-trailer(.5)
  .description
    @include margin-leader(0)
    @include margin-trailer(0)
    text-align: justify
  .read-more
    font-style: italic
