-@title       = "Javier Acero's blog"
-@description = 'Where I record the things I learn and share them with you. This is also the place where I keep my long road logbook.'

%section#blog
  -@posts.each do |post|
    %article
      %h1.title
        %a{href: url_for(post)}= post.title
      %p.date= formatted_post_date_for(post)
      %p.description
        ="#{post.description}"
        %a.read-more{href: url_for(post)} Read more...
    %hr
